<div class="card" style="margin: 9rem 25rem;">
  <div class="card-body bg-dark">

    <h1 class="text-center text-primary mt-2">Simple Counter</h1>

    <h2 class="text-center mt-2" style="color: white;">{{counter}}</h2>

    <div class="mt-4" style="margin-left: 7rem;" >
      <button class="btn btn-primary  mx-2" (click)="increment()">Increment</button>
      <button class="btn btn-warning  mx-2" (click)="decrement()">Decrement</button>
      <button class="btn btn-danger  mx-2" (click)="reset()">Reset</button>
    </div>

  </div>
</div>